<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Halloumi.Shuffler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Halloumi.Shuffler.Settings>
            <setting name="LibraryFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="PlaylistFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShufflerFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="WAPluginsFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="VSTPluginsFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="VSTPlugin" serializeAs="String">
                <value/>
            </setting>
            <setting name="WAPlugin" serializeAs="String">
                <value/>
            </setting>
            <setting name="LeftRightSplit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormStateSettings" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackSplit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LimitSongLength" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportPlaylistFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShowMixableTracks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalogXScratchFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="SamplerVSTPlugin" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackVSTPlugin" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackFXVSTPlugin" serializeAs="String">
                <value/>
            </setting>
            <setting name="SamplerVSTPlugin2" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackFXVSTPlugin2" serializeAs="String">
                <value/>
            </setting>
        </Halloumi.Shuffler.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
